@model IEnumerable<EventManagerLibrary.Models.Event>
@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Admin"))
{
    <a href='@Url.Action("New", "Events")' class="btn btn-primary">Add Event</a>
}
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Event Name
            </th>
            <th>
                Tickets Left
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @Html.ActionLink(obj.Name, "Details", "Events", new { id = obj.Id }, null)
                </td>
                <td width="30%">
                    @obj.TicketPool
                </td>
            </tr>
        }
    </tbody>
</table>
